# Pandas DataReader Tool

With this tool, we can access a lot of different data:
- Yahoo Finance
- Federal Reserve Bank
- IEX
- Quandl
- Kenneth Franch's data library
- World Bank
- OECD
- Eurostat
- Econdb
- Nasdaq Trader Symbol Definitions


- TODO: Check rate limiters of the requests on each of the APIs that we will use

## Yahoo Finance

In [8]:
from pandas_datareader import data
from datetime import date as dt

In [9]:
start_date = "2017-09-22"
end_date = dt.today()

In [11]:
data.DataReader("AMZN", "yahoo", start_date, end_date)

                  High         Low  ...       Volume   Adj Close
Date                                ...
2017-09-22   48.280499   47.721001  ...   52836000.0   47.755001
2017-09-25   47.471001   46.644501  ...  102480000.0   46.989498
2017-09-26   47.431499   46.587502  ...   71296000.0   46.930000
2017-09-27   47.764999   47.165001  ...   62978000.0   47.543499
2017-09-28   47.985001   47.505001  ...   50452000.0   47.820000
...                ...         ...  ...          ...         ...
2022-09-20  124.400002  121.139999  ...   47698400.0  122.190002
2022-09-21  123.760002  118.449997  ...   58498900.0  118.540001
2022-09-22  118.790001  116.260002  ...   55229200.0  117.309998
2022-09-23  116.050003  112.059998  ...   65081200.0  113.779999
2022-09-26  117.334999  113.129997  ...   52133477.0  115.705002

[1261 rows x 6 columns]

By default we can only select the public price evolution of the company, not to other data.

## EconDB

Here we can have main world economic indicators.

For more information, [here](https://www.econdb.com/main-indicators/).

In [12]:
# For example, Oil production in America monthly
data.DataReader("ticker=OILPRODUS", "econdb", start_date, end_date)

Reference Area         United States of America
Energy product                        Crude oil
Flow breakdown                       Production
Unit of measure Thousand Barrels per day (kb/d)
TIME_PERIOD
2017-10-01                                 9659
2017-11-01                                10077
2017-12-01                                 9979
2018-01-01                                 9996
2018-02-01                                10276
2018-03-01                                10461
2018-04-01                                10493
2018-05-01                                10424
2018-06-01                                10628
2018-07-01                                10888
2018-08-01                                11373
2018-09-01                                11422
2018-10-01                                11488
2018-11-01                                11868
2018-12-01                                11924
2019-01-01                                11848
2019-02-01                                11653
2019-03-01                                11899
2019-04-01                                12125
2019-05-01                                12141
2019-06-01                                12179
2019-07-01                                11896
2019-08-01                                12475
2019-09-01                                12572
2019-10-01                                12771
2019-11-01                                12966
2019-12-01                                12910
2020-01-01                                12852
2020-02-01                                12842
2020-03-01                                12797
2020-04-01                                11914
2020-05-01                                 9713
2020-06-01                                10442
2020-07-01                                11006
2020-08-01                                10577
2020-09-01                                10921
2020-10-01                                10457
2020-11-01                                11196
2020-12-01                                11168
2021-01-01                                11124
2021-02-01                                 9925
2021-03-01                                11326
2021-04-01                                11305
2021-05-01                                11356
2021-06-01                                11356
2021-07-01                                11347
2021-08-01                                11277
2021-09-01                                10918
2021-10-01                                11569
2021-11-01                                11790
2021-12-01                                11634
2022-01-01                                11369
2022-02-01                                11306
2022-03-01                                11701
2022-04-01                                11652
2022-05-01                                11595
2022-06-01                                11816
2022-07-01                                12042

## FED 

Here we can also obtain economic information about the economics of US.

In [14]:
# We would obtain the GDP evolution in each trimmestre
data.DataReader("GDP", "fred", start_date, end_date)

                  GDP
DATE
2017-10-01  19882.965
2018-01-01  20143.716
2018-04-01  20492.492
2018-07-01  20659.102
2018-10-01  20813.325
2019-01-01  21001.591
2019-04-01  21289.268
2019-07-01  21505.012
2019-10-01  21694.458
2020-01-01  21481.367
2020-04-01  19477.444
2020-07-01  21138.574
2020-10-01  21477.597
2021-01-01  22038.226
2021-04-01  22740.959
2021-07-01  23202.344
2021-10-01  24002.815
2022-01-01  24386.734
2022-04-01  24882.878

# Using Cache

An important feature of this is the ability to use cache to save bandwith, so then also speeding code executting and prevent our IP from being banned.

In [18]:
import datetime
import requests_cache

In [22]:
session = requests_cache.CachedSession(
    cache_name="name",
    backend="sqlite",   # store the cached data in sqlite
    expire_after=datetime.timedelta(days=7)  # compute datetime in next 7 days
)

# And now read the data with the cache, just in case there is any information we are requesting that we already have
data.DataReader(
    "AMZN", 
    "yahoo", 
    datetime.datetime(2010, 1, 1), 
    datetime.datetime(2020, 12, 10), 
    session=session
)

RemoteDataError: Unable to read URL: https://finance.yahoo.com/quote/AMZN/history?period1=1262318400&period2=1607659199&interval=1d&frequency=1d&filter=history
Response Text:
b'<!DOCTYPE html>\n  <html lang="en-us"><head>\n  <meta http-equiv="content-type" content="text/html; charset=UTF-8">\n      <meta charset="utf-8">\n      <title>Yahoo</title>\n      <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui">\n      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n      <style>\n  html {\n      height: 100%;\n  }\n  body {\n      background: #fafafc url(https://s.yimg.com/nn/img/sad-panda-201402200631.png) 50% 50%;\n      background-size: cover;\n      height: 100%;\n      text-align: center;\n      font: 300 18px "helvetica neue", helvetica, verdana, tahoma, arial, sans-serif;\n  }\n  table {\n      height: 100%;\n      width: 100%;\n      table-layout: fixed;\n      border-collapse: collapse;\n      border-spacing: 0;\n      border: none;\n  }\n  h1 {\n      font-size: 42px;\n      font-weight: 400;\n      color: #400090;\n  }\n  p {\n      color: #1A1A1A;\n  }\n  #message-1 {\n      font-weight: bold;\n      margin: 0;\n  }\n  #message-2 {\n      display: inline-block;\n      *display: inline;\n      zoom: 1;\n      max-width: 17em;\n      _width: 17em;\n  }\n      </style>\n  <script>\n    document.write(\'<img src="//geo.yahoo.com/b?s=1197757129&t=\'+new Date().getTime()+\'&src=aws&err_url=\'+encodeURIComponent(document.URL)+\'&err=%<pssc>&test=\'+encodeURIComponent(\'%<{Bucket}cqh[:200]>\')+\'" width="0px" height="0px"/>\');var beacon = new Image();beacon.src="//bcn.fp.yahoo.com/p?s=1197757129&t="+new Date().getTime()+"&src=aws&err_url="+encodeURIComponent(document.URL)+"&err=%<pssc>&test="+encodeURIComponent(\'%<{Bucket}cqh[:200]>\');\n  </script>\n  </head>\n  <body>\n  <!-- status code : 404 -->\n  <!-- Not Found on Server -->\n  <table>\n  <tbody><tr>\n      <td>\n      <img src="https://s.yimg.com/rz/p/yahoo_frontpage_en-US_s_f_p_205x58_frontpage.png" alt="Yahoo Logo">\n      <h1 style="margin-top:20px;">Will be right back...</h1>\n      <p id="message-1">Thank you for your patience.</p>\n      <p id="message-2">Our engineers are working quickly to resolve the issue.</p>\n      </td>\n  </tr>\n  </tbody></table>\n  </body></html>'